*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    width: 132px;
    height: 44px;
    background-color: brown;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

nav{
    display: flex;
    list-style: none;
}

nav li{
    padding: 20px;
}